
<ng-container>
  <section>
    <div class="header">
      <div class="left">
        <a class="header__info">
          <a [routerLink]="['/']"  mat-button color="primary">
            <span class="team" color="primary">Команда Победа</span>
          </a>
        </a>
      </div>
      <div class="right">
        <img src="../assets/img/promobot.png" alt="Промобот" />
      </div>
    </div>
  </section>
  <section class="body">
    <router-outlet class="main-page">
    </router-outlet>

  </section>
  <button class="move" (click)="scrollToTop()">
    <div>🠕</div>
  </button>
    <nav>
      <div class="footer">© 2023 Победа. All rights reserved.</div>
    </nav>
</ng-container>